<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated html_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="html_model.presentation.Html_modelModelWizardID"
            name="%_UI_Html_modelModelWizard_label"
            class="html_model.presentation.Html_modelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Html_modelModelFile.gif">
         <description>%_UI_Html_modelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated html_model -->
      <editor
            id="html_model.presentation.Html_modelEditorID"
            name="%_UI_Html_modelEditor_label"
            icon="icons/full/obj16/Html_modelModelFile.gif"
            extensions="html_model"
            class="html_model.presentation.Html_modelEditor"
            contributorClass="html_model.presentation.Html_modelActionBarContributor">
      </editor>
   </extension>

</plugin>
